VirgenDelCarmen/WebRoot/WEB-INF/wsdl/VirgenDelCarmenManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://manager.virgendelcarmen.dynamicdroides.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VirgenDelCarmenManagerService" targetNamespace="http://manager.virgendelcarmen.dynamicdroides.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://manager.virgendelcarmen.dynamicdroides.com/" schemaLocation="VirgenDelCarmenManagerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="finishEnvioAsistencia">
    <part element="tns:finishEnvioAsistencia" name="parameters"/>
  </message>
  <message name="finishEnvioAsistenciaResponse">
    <part element="tns:finishEnvioAsistenciaResponse" name="parameters"/>
  </message>
  <message name="getProfesores">
    <part element="tns:getProfesores" name="parameters"/>
  </message>
  <message name="getProfesoresResponse">
    <part element="tns:getProfesoresResponse" name="parameters"/>
  </message>
  <message name="checkUser">
    <part element="tns:checkUser" name="parameters"/>
  </message>
  <message name="checkUserResponse">
    <part element="tns:checkUserResponse" name="parameters"/>
  </message>
  <message name="finishEnvioComportamiento">
    <part element="tns:finishEnvioComportamiento" name="parameters"/>
  </message>
  <message name="finishEnvioComportamientoResponse">
    <part element="tns:finishEnvioComportamientoResponse" name="parameters"/>
  </message>
  <message name="IOException">
    <part element="tns:IOException" name="fault"/>
  </message>
  <message name="getCurso">
    <part element="tns:getCurso" name="parameters"/>
  </message>
  <message name="getCursoResponse">
    <part element="tns:getCursoResponse" name="parameters"/>
  </message>
  <message name="finishEnvioComidas">
    <part element="tns:finishEnvioComidas" name="parameters"/>
  </message>
  <message name="finishEnvioComidasResponse">
    <part element="tns:finishEnvioComidasResponse" name="parameters"/>
  </message>
  <message name="checkUserAccess">
    <part element="tns:checkUserAccess" name="parameters"/>
  </message>
  <message name="checkUserAccessResponse">
    <part element="tns:checkUserAccessResponse" name="parameters"/>
  </message>
  <message name="checkAndGetUser">
    <part element="tns:checkAndGetUser" name="parameters"/>
  </message>
  <message name="checkAndGetUserResponse">
    <part element="tns:checkAndGetUserResponse" name="parameters"/>
  </message>
  <message name="getAlumnosByDate">
    <part element="tns:getAlumnosByDate" name="parameters"/>
  </message>
  <message name="getAlumnosByDateResponse">
    <part element="tns:getAlumnosByDateResponse" name="parameters"/>
  </message>
  <message name="getAluBeanFromAlumno">
    <part element="tns:getAluBeanFromAlumno" name="parameters"/>
  </message>
  <message name="getAluBeanFromAlumnoResponse">
    <part element="tns:getAluBeanFromAlumnoResponse" name="parameters"/>
  </message>
  <message name="getAlumnosForComedor">
    <part element="tns:getAlumnosForComedor" name="parameters"/>
  </message>
  <message name="getAlumnosForComedorResponse">
    <part element="tns:getAlumnosForComedorResponse" name="parameters"/>
  </message>
  <message name="getAlumnosBy">
    <part element="tns:getAlumnosBy" name="parameters"/>
  </message>
  <message name="getAlumnosByResponse">
    <part element="tns:getAlumnosByResponse" name="parameters"/>
  </message>
  <message name="getAlumnosByCurso">
    <part element="tns:getAlumnosByCurso" name="parameters"/>
  </message>
  <message name="getAlumnosByCursoResponse">
    <part element="tns:getAlumnosByCursoResponse" name="parameters"/>
  </message>
  <message name="getAlumnosAsisten">
    <part element="tns:getAlumnosAsisten" name="parameters"/>
  </message>
  <message name="getAlumnosAsistenResponse">
    <part element="tns:getAlumnosAsistenResponse" name="parameters"/>
  </message>
  <message name="getAlumnos">
    <part element="tns:getAlumnos" name="parameters"/>
  </message>
  <message name="getAlumnosResponse">
    <part element="tns:getAlumnosResponse" name="parameters"/>
  </message>
  <message name="getObservaciones">
    <part element="tns:getObservaciones" name="parameters"/>
  </message>
  <message name="getObservacionesResponse">
    <part element="tns:getObservacionesResponse" name="parameters"/>
  </message>
  <message name="addComportamiento">
    <part element="tns:addComportamiento" name="parameters"/>
  </message>
  <message name="addComportamientoResponse">
    <part element="tns:addComportamientoResponse" name="parameters"/>
  </message>
  <message name="addComportamiento1">
    <part element="tns:addComportamiento1" name="parameters"/>
  </message>
  <message name="addComportamiento1Response">
    <part element="tns:addComportamiento1Response" name="parameters"/>
  </message>
  <message name="addComidas">
    <part element="tns:addComidas" name="parameters"/>
  </message>
  <message name="addComidasResponse">
    <part element="tns:addComidasResponse" name="parameters"/>
  </message>
  <message name="addComidas1">
    <part element="tns:addComidas1" name="parameters"/>
  </message>
  <message name="addComidas1Response">
    <part element="tns:addComidas1Response" name="parameters"/>
  </message>
  <message name="addAlumno">
    <part element="tns:addAlumno" name="parameters"/>
  </message>
  <message name="addAlumnoResponse">
    <part element="tns:addAlumnoResponse" name="parameters"/>
  </message>
  <message name="isDataComidasFilled">
    <part element="tns:isDataComidasFilled" name="parameters"/>
  </message>
  <message name="isDataComidasFilledResponse">
    <part element="tns:isDataComidasFilledResponse" name="parameters"/>
  </message>
  <message name="isDataComportamientoFilled">
    <part element="tns:isDataComportamientoFilled" name="parameters"/>
  </message>
  <message name="isDataComportamientoFilledResponse">
    <part element="tns:isDataComportamientoFilledResponse" name="parameters"/>
  </message>
  <message name="getCursos">
    <part element="tns:getCursos" name="parameters"/>
  </message>
  <message name="getCursosResponse">
    <part element="tns:getCursosResponse" name="parameters"/>
  </message>
  <message name="addCurso">
    <part element="tns:addCurso" name="parameters"/>
  </message>
  <message name="addCursoResponse">
    <part element="tns:addCursoResponse" name="parameters"/>
  </message>
  <portType name="VirgenDelCarmenManagerDelegate">
    <operation name="finishEnvioAsistencia">
      <input message="tns:finishEnvioAsistencia"/>
      <output message="tns:finishEnvioAsistenciaResponse"/>
    </operation>
    <operation name="getProfesores">
      <input message="tns:getProfesores"/>
      <output message="tns:getProfesoresResponse"/>
    </operation>
    <operation name="checkUser">
      <input message="tns:checkUser"/>
      <output message="tns:checkUserResponse"/>
    </operation>
    <operation name="finishEnvioComportamiento">
      <input message="tns:finishEnvioComportamiento"/>
      <output message="tns:finishEnvioComportamientoResponse"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="getCurso">
      <input message="tns:getCurso"/>
      <output message="tns:getCursoResponse"/>
    </operation>
    <operation name="finishEnvioComidas">
      <input message="tns:finishEnvioComidas"/>
      <output message="tns:finishEnvioComidasResponse"/>
    </operation>
    <operation name="checkUserAccess">
      <input message="tns:checkUserAccess"/>
      <output message="tns:checkUserAccessResponse"/>
    </operation>
    <operation name="checkAndGetUser">
      <input message="tns:checkAndGetUser"/>
      <output message="tns:checkAndGetUserResponse"/>
    </operation>
    <operation name="getAlumnosByDate">
      <input message="tns:getAlumnosByDate"/>
      <output message="tns:getAlumnosByDateResponse"/>
    </operation>
    <operation name="getAluBeanFromAlumno">
      <input message="tns:getAluBeanFromAlumno"/>
      <output message="tns:getAluBeanFromAlumnoResponse"/>
    </operation>
    <operation name="getAlumnosForComedor">
      <input message="tns:getAlumnosForComedor"/>
      <output message="tns:getAlumnosForComedorResponse"/>
    </operation>
    <operation name="getAlumnosBy">
      <input message="tns:getAlumnosBy"/>
      <output message="tns:getAlumnosByResponse"/>
    </operation>
    <operation name="getAlumnosByCurso">
      <input message="tns:getAlumnosByCurso"/>
      <output message="tns:getAlumnosByCursoResponse"/>
    </operation>
    <operation name="getAlumnosAsisten">
      <input message="tns:getAlumnosAsisten"/>
      <output message="tns:getAlumnosAsistenResponse"/>
    </operation>
    <operation name="getAlumnos">
      <input message="tns:getAlumnos"/>
      <output message="tns:getAlumnosResponse"/>
    </operation>
    <operation name="getObservaciones">
      <input message="tns:getObservaciones"/>
      <output message="tns:getObservacionesResponse"/>
    </operation>
    <operation name="addComportamiento">
      <input message="tns:addComportamiento"/>
      <output message="tns:addComportamientoResponse"/>
    </operation>
    <operation name="addComportamiento1">
      <input message="tns:addComportamiento1"/>
      <output message="tns:addComportamiento1Response"/>
    </operation>
    <operation name="addComidas">
      <input message="tns:addComidas"/>
      <output message="tns:addComidasResponse"/>
    </operation>
    <operation name="addComidas1">
      <input message="tns:addComidas1"/>
      <output message="tns:addComidas1Response"/>
    </operation>
    <operation name="addAlumno">
      <input message="tns:addAlumno"/>
      <output message="tns:addAlumnoResponse"/>
    </operation>
    <operation name="isDataComidasFilled">
      <input message="tns:isDataComidasFilled"/>
      <output message="tns:isDataComidasFilledResponse"/>
    </operation>
    <operation name="isDataComportamientoFilled">
      <input message="tns:isDataComportamientoFilled"/>
      <output message="tns:isDataComportamientoFilledResponse"/>
    </operation>
    <operation name="getCursos">
      <input message="tns:getCursos"/>
      <output message="tns:getCursosResponse"/>
    </operation>
    <operation name="addCurso">
      <input message="tns:addCurso"/>
      <output message="tns:addCursoResponse"/>
    </operation>
  </portType>
  <binding name="VirgenDelCarmenManagerPortBinding" type="tns:VirgenDelCarmenManagerDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="finishEnvioAsistencia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProfesores">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="finishEnvioComportamiento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCurso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="finishEnvioComidas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkUserAccess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkAndGetUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAlumnosByDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAluBeanFromAlumno">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAlumnosForComedor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAlumnosBy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAlumnosByCurso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAlumnosAsisten">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAlumnos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getObservaciones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addComportamiento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addComportamiento1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addComidas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addComidas1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addAlumno">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isDataComidasFilled">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isDataComportamientoFilled">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCursos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addCurso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="VirgenDelCarmenManagerService">
    <port binding="tns:VirgenDelCarmenManagerPortBinding" name="VirgenDelCarmenManagerPort">
      <soap:address location="http://localhost:8080/VirgenDelCarmen/VirgenDelCarmenManagerPort"/>
    </port>
  </service>
</definitions>
